node_modules

/.cache
/build
.env
/public/build
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

better-auth_migrations
sqlite.db

.env
.env.local
.env.development.local
.env.test.local
.env.production.local